
<%= bootstrap_form_for([@location, @location.recordings.build]) do |f| %>
	<div class = "row">
		<div class = "col-md-0">
		
			<div class = "field">
				<h2> Temperature</h2>
				<%= f.text_field :temp, class: "form-control" %>
			</div>
		</div>

		<div class = "col-md-9">
			<div class = "field">
				<h2> Status</h2>
				<%= f.text_area :status, class: "form-control" %>
			</div>
		</div>
	</div>
	<span class= "pull-middle">
		<%= f.submit "Save", class: "btn btn-primary" %>
	</span>
<% end %>