<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <%= bootstrap_form_for @location do |f| %>

  <div class="field">
    <%= f.text_field :name, class: "form-control" %><br>
  </div>

  <p><%= f.submit "Save, class: "btn btn-primary" %></p>

  <% end %>
  </div>
</div>